<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
<h1>🎮 Rock Paper Scissors</h1>
<h2>Made specially for My Babu 💖
 “Hey [Name] 💖, I made this little game just for you…
Every click, every move… is a tiny reminder of how much I adore you.
Play, laugh, and know that my heart is always cheering for you. 😘”</h2>

<button onclick="play('rock')">✊ Rock</button>
<button onclick="play('paper')">✋ Paper</button>
<button onclick="play('scissors')">✌️ Scissors</button>

<h2 id="result"></h2>

<br><br>

<a href="/leaderboard">🏆 View Leaderboard</a>

<br><br>
<a href="/logout">Logout</a>

<script src="/static/script.js"></script>
</body>
</html>

